*.class
*.jar
*.war
*.ear
*.log
target/
!**/src/main/**/target/
!**/src/test/**/target/

.spring-tmp
.springBeans
.sts4-cache

.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
docker-compose.override.yml

*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

*.kubeconfig

logs/
*.log

tmp/
temp/